<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Instructor</title>
</head>
<body>
<h4>Edit Instructor
    <!--<span th:if="${instructor.id > 0}">
        <span th:if="${instructor.detail != null}">
            <a th:href="@{/instructor-detail/{id}/edit/{did}(id=${instructor.id}, did=${instructor.detail.id})}">edit detail</a>
        </span>
        <span th:unless="${instructor.detail != null}">
            <a th:href="@{/instructor-detail/{id}/edit/0(id=${instructor.id})}">edit detail</a>
        </span>
    </span>-->
</h4>
<div th:if="${exception != null}">
    <span th:text="${exception.message}">exception message</span>
</div>
<form action="#" method="post" th:action="@{/instructor/save}" th:object="${instructor}">
    <input th:field="*{id}" type="hidden"/>
    <input th:field="*{detail.id}" type="hidden"/>
    <p>First name: <input th:field="*{firstName}"/></p>
    <p>Last name: <input th:field="*{lastName}"/></p>
    <p>Email: <input th:field="*{email}"/></p>
    <p>
        <label>Website: </label><input th:field="*{detail.website}"/><br/>
        <span th:errors="*{detail.website}"
              th:if="${#fields.hasErrors('detail.website')}">invalid website</span>
    </p>
    <p>
        Course(s):
        <select multiple th:field="*{courseList}">
            <option th:each="course : ${courseList}"
                    th:text="${course.title}"
                    th:value="${course.id}">course
            </option>
        </select>
    </p>
    <input type="submit" value="save">
</form>
</body>
</html>