<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Course</title>
</head>
<body>
<h4>Edit Course</h4>
<form action="#" method="post" th:action="@{/course/save}" th:object="${course}">
    <input th:field="*{id}" type="hidden">
    <p>
        <label>Title:</label> <input th:field="*{title}">
    </p>
    <p>
        <label>Instructor:</label>
        <select th:field="*{instructor}">
            <option value=""></option>
            <option th:each="inst : ${instructorList}"
                    th:text="${inst.name}" th:value="${inst.id}">instructor
            </option>
        </select>
    </p>
    <input type="submit" value="save">
</form>
</body>
</html>